# CLion / IntelliJ
.idea/
*.iml

# CMake build directories
cmake-build-*/
build/
out/

# CMake cache
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Compiled binaries
*.o
*.obj
*.lo
*.la
*.a
*.so
*.dll
*.dylib
*.exe

# Logs
*.log

# TDLib artifacts (если вдруг будешь собирать рядом)
tdlib/
tdlib_build/
tdlib_install/

# OS-shit
.DS_Store
Thumbs.db
